.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  min-width: 28rem;
  display: flex;
  transition: all 0.3s ease-out;
  background-color: #fff;
}
.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
}
.card__img {
  width: 14rem;
  height: 11rem;
  object-fit: cover;
}
.card__body {
  margin: 1rem;
  flex-grow: 1;
}
.card__title {
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}
.card__description {
  line-height: 1.2rem;
}
.card__btn {
  border: none;
  border-top: 1px solid gray;
  background-color: transparent;

  font-size: 1rem;
  font-weight: bold;

  width: 100%;
  padding-top: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .card {
    flex-direction: column;
    text-align: center;
    min-width: 14rem;
  }
  .card__img {
    width: 100%;
    height: 12rem;
  }
}
