.main {
  display: grid;
  grid-gap: 20px;
}
.main__hero {
  min-height: 950px;
  /* background: url("../../public/banner-3.jpg"); */
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.main__hero h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: #eee;
}
.main__hero p {
  font-size: 1.3rem;
  margin-top: 20px;
  color: #eee;
  max-width: 500px;
}
.main__hero a {
  padding: 1rem 2rem;
  background-color: #e91e63;
  color: #eee;
  border-radius: 30px;
  width: fit-content;
}
.main__hero a:hover{
  background-color: #eee;
  color: #e91e63;
}
